#logo {
	width: 285px !important;
	background-size: contain;
	pointer-events: none;
}

#navLinks {
	align-items: center;
	padding-right: 1%;
	font-size: 22px;
}

#RouterNavLink:hover {
	font-size: 24px;
	text-decoration: underline !important;
	text-decoration-thickness: 10%;
}
