#logo {
	width: 285px !important;
	background-size: contain;
	pointer-events: none;
}

#navLinks {
	align-items: center;
}

a:hover {
	font-size: 20px;
	text-decoration: underline !important;
	text-decoration-thickness: 10%;
}
